.col-12
  /出品者のコメントは右へ、それ以外は左へ
  %div{class: "card text-white bg-success mb-3 float-#{message.exhibitor ? 'right' : 'left'}", style: "max-width: 75%"}
    .card-header{style: 'max-height: 3rem;'}
      %img{src: "...", class: "rounded mr-2", alt: "..."}
      %strong.mr-auto
        Bootstrap
      %small.text-muted
        just now
    .card-body
      .card-text
        = message.content


