.container
  %h1.mx-auto{style: "width: 200px;"}
    Chat Room
  .row{id: 'messages', data: {product_id: "#{@product.id}"}}
    = render @messages
  %input#message_field{type: 'text'}
  %button#message_button
    送信

